<div>
    This is demo DashBoard page.
    <p>this view is one of the partials we are loading this view using StateProvider('$stateProvider').</p>
    <p>Using '$stateProvider' we can load more than one partial unlike '$routeProvider'.</p>

    <p>In this page we have a footer which we loaded using reusable footr directive('custome directive')</p>
    <p>Even the header is loaded using 'custome directive' </p>
</div>
<div class="col-xs-offset-4 col-xs-4">
    <button class="btn btn-default" ng-click="fnLogout()">Logout</button>
</div>
<div class="footr col-xs-12 navbar-fixed-bottom"></div>
